.boughtItems-ctn{
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/024/124/679/small_2x/empty-shopping-cart-side-view-on-transparent-background-png.png");
    height:100em;
    background-repeat: no-repeat;
    background-size: 50%;
}