* {box-sizing: border-box;}

.Avatar-background{
  background-image: url("https://t3.ftcdn.net/jpg/00/35/94/44/360_F_35944424_YGSDMaCU6PCosD5W3xuH7wdUPMTpkkp8.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.Avatar-form h2{
  margin-top: 0%;
  margin-bottom: 0%;
  background-color: white; 
  width: fit-content;
}
.Avatar-form p{
  margin-top: 0%;
  margin-bottom: 0%;
  background-color: white; 
  width: fit-content;
}

.radio-btn{
    display: inline;
    width: 50%;
}

.RadioBtn-container {
  position: relative;
    width: 90%;
    /* margin-bottom: 40px; */
    margin-left: auto;
    margin-right: auto;
    flex: 1 0 25%;
    background-color: white; 
    /* max-width: 90%; */
    display: flex;
      flex-direction: row ; 
      border: 2px solid black;
      border-radius: 18px;
      justify-content: center;
      align-items: center;
}

.RadioBtn-container h2{
  font-family:"Limelight";
   border-radius:"18px";
   margin-left: 10px;
}

.Avatar-container {
    position: relative;
    width: 400px;
    margin: auto;
    height: 400px;
    /* max-width: 90%; */
    display: flex;
      flex-direction: row ; 
      background-color: white; 
      justify-content: center;
  }
  
  .Avatar-image {
    display: block;
    height: auto;
    
   
  }
  
  .Avatar-overlay {
    position: absolute; 
    bottom: 0; 
    color: #f1f1f1; 
    /* width: 100%;   */
   
  }

  .Film-overlay {
    position: absolute; 
    z-index: 1;
    color: #f1f1f1; 
    width: 570px;
    height: 410px;
    
   
  }

  .Avatar-form{
    margin:auto;
    margin-top: 15px;
    display:flex;
    flex-direction: column;
    
    overflow-y: auto;
    
    max-width: 90%;
  }


  .Avatar-img{
    display: flex;
   justify-content: center;
   padding-top: 5px;
   padding-bottom: 5px;

  }